@model IEnumerable<WebAppMVC.Models.Bicicleta>

@{
    ViewBag.Title = "List";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            <a href="/Crud/Edit/@item.Id" class="btn btn-warning">Editar</a>
            <a href="/Crud/Delete/@item.Id" class="btn btn-danger">Deletar</a>
            <a href="/Crud/Details/@item.Id" class="btn btn-primary">Detales</a>
        </td>
    </tr>
}

</table>
